backend/ToDo.Web/.vs/ProjectEvaluation/todo.web.metadata.v10.bin
backend/ToDo.Web/ToDo.Web.Api/bin/
backend/ToDo.Web/ToDo.Web.Api/obj/
backend/ToDo.Web/ToDo.Web.Api/*.user
backend/ToDo.Web/.vs/
backend/ToDo.Web/ToDo.Web.Api/TestResults/